/*
MULBERRY #352384
LYFT PINK #FF00BF
CHARCOAL #333347
OFF-WHITE #F3F3F5
*/

#promo-table {
	border-top:2px solid #eeeeee;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.table tr {
	text-align: left;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
}
.faded-teal .card-top:before, .faded-teal:before {
	background-color: #000000 !important;
	opacity: .6 !important;
}
.faded-gray-lighter .card-top:before, .faded-gray-lighter:before {
	background: #eee;
}
.hero .section > .container {
	padding-bottom: 30px !important;
}

@media (min-width: 768px) {
#content-c321915.section {
	padding: 150px 0;
}
}

@media (max-width: 767px) {
.col+.col {
	text-align: center !important;
	margin-top: 50px !important;
}
}

@media (max-width: 480px) {
.pink-button, .promo-button, .purple-button {
	width: 100%;
}
#ride-types.section, #how-to-get.section, #promo-table.section {
	padding: 25px 0;
}
#content-c321931.skin-mb-l {
	margin-bottom: 25px;
}
.col+.col {
	margin-top: 35px !important;
}
.hidden-element-480 {
	display:none;
}
}
#content-c321831.skin-mb-l {
	margin-bottom: 25px;
}
#footer.section {
	padding: 15px;
}
#footer.section p {
	margin: 10px 0;
	font-size: 14px;
}
.pink-button {
	color: #fff;
	background-color: #ff00bf;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: .08333rem solid transparent;
	padding: .75rem;
	font-size: 1.1rem;
	line-height: 1.5;
	border-radius: .5rem;
}
.pink-button:hover {
	color: #fff;
	background-color: rgba(255, 0, 191, 0.7);
	text-decoration: none;
}
.purple-button {
	color: #fff;
	background-color: #352384;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: .08333rem solid transparent;
	padding: .75rem;
	font-size: 1.1rem;
	line-height: 1.5;
	border-radius: .5rem;
}
.purple-button:hover {
	color: #fff;
	background-color: rgba(53, 35, 132, 0.7);
	text-decoration: none;
}
.promo-button {
	color: #333347;
	background-color: #fff;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: #ccc dashed 2px;
	padding: 0 25px;
	font-size: 32px;
	line-height: 1.5;
	margin-bottom: 10px;/*border-radius: .5rem;*/
}